<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../../css/student.css" />
    <link rel="stylesheet" href="../../../css/all.min.css" />
    <link rel="stylesheet" href="../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../css/admin.css" />
    <link rel="icon" href="../../../Untitled-1 (2).icon">
  </head>
  <body>
    <div class="admin" id="height">
      <div class="org">
        <input class="search" name="search" placeholder="Search" type="search">
        <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Level</td>
                <td>Department</td>
                <td>Acadmic ID</td>
                <td>Age</td>
                <td>Fuclty</td>
                <td>College</td>
                <td>Address</td>
                <td>National ID</td>
                <td>Phone Num</td>
                <td>Gender</td>
                <td>Update</td>
                <td>Delete</td>
              </tr>
            </thead>
            <tbody>
              {{#each allStudents}}
              <tr>
                <td>{{Name}}</td>
                <td>{{Level}}</td>
                <td>{{Department}}</td>
                <td>{{Acadmic}}</td>
                <td>{{Age}}</td>
                <td>{{Fuclty}}</td>
                <td>{{College}}</td>
                <td>{{Address}}</td>
                <td>{{National}}</td>
                <td>{{Phone}}</td>
                <td>{{Gender}}</td>
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
              </tr>
              {{/each}}
            </tbody>
        </table>
    </div>
      <div class="chose">
        <ul>
          <li><a href="../admin">Add</a></li>
          <li><a href="allsubjects">Subjects</a></li>
          <li><a href="allStudents">Students</a></li>
          <li><a href="alldoctors">Doctors</a></li>
          <li><a href="setting">Setting</a></li>
        </ul>
      </div>
      <button
        style="
          z-index: 9999;
          position: fixed;
          background-color: white;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          right: 50px;
          bottom: 50px;
          display: flex;
          transition: 0.5s all ease;
          align-items: center;
          justify-content: center;
        "
        onclick="topFunction()"
        id="myBtn"
        title="Go to top"
      >
        <i style="font-size: 25px" class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
    <script src="../../../js/style.js"></script>
  </body>
</html>
