<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor</title>
    <link rel="stylesheet" href="../../css/admin.css" />
    <link rel="stylesheet" href="../../css/student.css" />
    <link rel="stylesheet" href="../../css/all.min.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="icon" href="../../Untitled-1 (2).icon">
  </head>
  <body>
    <div class="student" id="height">
      <div class="info">
        <div class="icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="">
          <p>Name: <span>{{doc.Name}}</span></p>
          <p>Age: <span>{{doc.Age}}</span></p>
          <p>Fuclty: <span>{{doc.Fuclty}}</span></p>
          <p>College: <span>{{doc.College}}</span></p>
          <p>Address: <span>{{doc.Address}}</span></p>
          <p>National ID: <span>{{doc.National}}</span></p>
          <p>Phone Num: <span>{{doc.Phone}}</span></p>
          <p>Gender: <span>{{doc.Gender}}</span></p>
        </div>
      </div>
      <div class="come"> 
        <table>
        <thead>
              <tr>
                <td>ID</td>
                <td>Name</td> 
                <td>Department</td>
                <td>Level</td>
              </tr>
            </thead>
            <tbody>
              {{#each allsubjects}}
              <tr>
                <td><p>{{ID}}</p></td>
                <td><a href="/user/doctor/STUsubD">{{name}}</a></td> 
                <td><p>{{Department}}</p></td>
                <td><p>{{Level}}</p></td>
              </tr>
              {{/each}}
            </tbody>
    </table>
  </div>
      <div class="chose">
        <ul>
          <li><a href="doctor">Subjects</a></li>
          <li><a href="doctor/avilabalSUBd">Available subjects</a></li>
          <li><a href="../login">Log out</a></li>
        </ul>
      </div>
      <button
      style="
        z-index: 9999;
        position: fixed;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        right: 50px;
        bottom: 50px;
        display: flex;
        transition: 0.5s all ease;
        align-items: center;
        justify-content: center;
      "
      onclick="topFunction()"
      id="myBtn"
      title="Go to top"
    >
      <i style="font-size: 25px" class="fa-solid fa-arrow-up"></i>
    </button>
    </div>
    <script src="../../js/style.js"></script>
  </body>
</html>
